<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatPy</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="./js/Headers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="center-text">
            Errores Léxicos
        </h1>
    </div>
    <div class="containerTable">
        <div class="container container-table">
            <table id="compoundsInfo">
                <tr>
                    <th id="noBooks" class="center-text">
                        Lexema
                    </th>
                    <th id="noBooks" class="center-text">
                        Descripción
                    </th>
                    <th id="noBooks" class="center-text">
                        Línea
                    </th>
                    <th id="noBooks" class="center-text">
                        Columna
                    </th>
                </tr>
                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">6</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">7</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">8</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">9</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">10</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">11</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">12</td>
                        </tr>

                        <tr>
                                <td class="center-text">°</td>
                                <td class="center-text"> Error Léxico</td>
                                <td class="center-text">18</td>
                                <td class="center-text">13</td>
                        </tr>
                </table>
        </div>
    </div>
</body>
</html>